body{
  background-color: #000000;
  font-family: arial;
}

.portfolio-grid{
  background-color: #f8ddff;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 20%);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.portfolio-card{
  border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    padding: .5rem;
    margin: 0 0 2% 0;
}

.header {
  background-color: #000000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-header {
  width: 18ch;
  color: #FFFFFF;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}