body{
  background-color: #f8ddff;
  font-family: arial;
}

.App{
  background-color: #f8ddff;
  height: 100vh;
}


.intro{
  background-color: #f8ddff;
  padding-bottom: 50px;
}

.coding{
  background-color: #f8ddff;
}

.portfolio-grid{
  background-color: #f8ddff;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.portfolio{
  justify-content: center;
}

.about-me{
  justify-content: center;
}

.button-style{
  background-color: #000000 !important;
}

.portfolio-card{
  border: 2px solid #e7e7e7; 
    border-radius: 4px; 
    padding: .5rem;
    margin: 0 0 2% 0;
}

.p-c{
  width: 18em;
  height: 100%;
}

.welcome {
  background-color: #f8ddff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card{
  text-align: left;
}

.center-row{
  justify-content: center;
}

.typing-header {
  width: 18ch;
  color: #000000;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.nav-bar-styling{
  width: 100%;
}

.nav-container-container{
  background-color: #f8ddff;
  margin-left: -7px;
}

.nav-container{
  display: flex;
  flex-direction: column;
}

.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-item{
  color: #000000 !important;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: 'Questrial', sans-serif;
  margin: 7px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 3px solid #f8ddff;
}

.nav-item:hover, .nav-item:active {
  border-bottom: 3px solid #000000;
}

@media all and (max-width: 800px) {


  .welcome{
  height: 50vh;
  }

  .nav-item{
    width: 100%;
  }

 .about-overflow{
   padding-right: 10px;
   padding-left: 5px;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-items: space-around;
 }


}


@media all and (max-width: 500px) {

  .p-c{
    width: 25em;
  }

  .welcome{
    height: 50vh;
    }

  .nav-item{
    width: 100%;
  }

 .about-overflow{
   padding-right: 10px;
   padding-left: 5px;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-items: space-around;
 }

}